@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.list a{
  color: #888888;
  text-decoration-line: none;
  border: 1px solid #707070;
  border-radius: 4px;
}

.list a:hover{
  color: white;
  background-color: #707070;

}

.flex-section-list{
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 30px;

}

.flex-section-divisao-up{
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

.list-a1{
  padding-block: 10px;
  padding-inline: 27px;
  background-color: white;
}

.list-a2{
  padding-block: 10px;
  padding-inline: 15px;
  background-color: white;
  margin-left: 15px;
}

.list-a3{
  padding-block: 10px;
  padding-inline: 30px;
  background-color: white;
}

.list-a4{
  padding-block: 10px;
  padding-inline: 37px;
  background-color: white;
  margin-left: 15px;
}






/*RESET*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  margin:0;
  overflow: auto;
  width:100%;
  min-width: fit-content;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif !important;
  font-weight: normal;
  position: absolute;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*------------------------CORPO--------------------------------------------*/
main {
  max-width: 920px;
  margin: 0 auto;
}

p {
  color: #888888;
}

/*------------------------Header-------------------------------------------*/
.custom-header {
    /*Diagonal*/
    background:linear-gradient(4deg, white, white 24.9%, gray 25.1%, gray);
   
    height: 399px;
}

/*------------------------Títulos-------------------------------------------*/
.titulo-div {
  padding: 69px;
  position: absolute;
  left: 0%;
  right: 0%;
  text-align: center;
}

.titulo-h1 {
  font-size: 49px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #FFFFFF;
 
}

.titulo-h2 {
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0px;
  color: #FFFFFF;
 
}

.titulo-h4 {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0px;
  color: #FFFFFF;
 
}

/*-----------------------------Abas de Seleção--------------------------------------------*/
.list {
  position: absolute;
  left: 0%;
  right: 0%;
  margin-top: 230px;
}

/*--------------------------Formulário--------------------*/
.sub-titulo {
    text-align: left;
    font: normal normal normal 12px/18px Roboto;
    letter-spacing: 0px;
    color: #888888;
}

.sub-titulo h2 {
    text-align: left;
    font: normal normal normal 20px/24px Roboto;
    letter-spacing: 0px;
    color: #888888;
}

.sub-titulo p {
  width: 520px;
  height: 220px;
}

.form-div {
  width: 340px;
  height: 227px;
  float:  right;
}

.form-div-input {
  width: 340px;
  height: 30px;
  margin-top: 7px;  /*distancia das tags do formulário */
  margin-bottom: 7px;
}

.form-div-radio {
  margin-top: 7px;
  margin-bottom: 7px;
}

.flex-section {/*Usado para dividir a tela entre Texto/Formulário */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-button1 {
  float: right;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  width: 340px;
  height: 39px;

  text-align: center;
  font: normal normal normal 16px/16px Roboto;
  letter-spacing: 0px;
  color: #888888;
 
}


form {
  text-align: left;
  font: normal normal normal 12px/14px Roboto;
  letter-spacing: 0px;
  color: #888888;
 
}

.form-button {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
 
  width: 340px;
  height: 39px;

  text-align: center;
  font: normal normal normal 16px/16px Roboto;
  letter-spacing: 0px;
  color: #888888;
 
}

/*---------------------Vitrine-----------------------*/
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-item {
  width: 201px;
  height: 350px;
  margin-bottom: 40px;
}

.products-img {
  height: 150px;
  margin: 0 auto;
}

.product-name {
  font-size: 14px;
  margin-top: 10px;
}

.product-description {
  font-size: 12px;
  margin: 10px 0;
}

.product-old-price {
  font-size: 12px;
}

.product-price {
  font-weight: bold;
}

.product-installments {
  font-size: 12px;
  margin-bottom: 5px;
}

.send-button {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  width: 200px;
  height: 30px;
  text-align: center;
  font: normal normal normal 16px/16px Roboto;
  letter-spacing: 0px;
  color: #888888;
}

.more-prod-button {
  margin-left: 334px;
  margin-top: 52px;
  margin-bottom: 81px;
  margin-right: 329px;
  width: 260px;
  height: 39px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
}

/*---------------------Compartilhamento-------------------------------*/
.sec-1 {
  margin-left: 104px;
}

.sec-1a {
  width: 340px;
  height: 30px;
  margin-right: 40px;
}

.send-now-button {
  margin-left: 334px;
  margin-top: 52px;
  margin-bottom: 138px;
  margin-right: px;
  width: 260px;
  height: 39px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
}

button {
  text-align: center;
  letter-spacing: 0px;
  color: #888888;
  cursor: pointer;
}
button:hover{
  background-color: #888888;
  color: white;
  
}

.p-share {
  margin: 44px;
}

/*--------------------------Rodapé-----------------------------*/

.custom-footer {
    background:linear-gradient(176deg, white, white 24.9%, gray 25.1%, gray);
    height: 399px;
    display: flex;
  }

.custom-footer p {
  text-align: center;
  font: normal normal normal 12px/18px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-align: center;
  margin: auto;
}

/*divisória*/
.divisao-h2{/*Quebra de sessao*/
  text-align: center;
  margin: auto;
  color: #888888;
}
.divisao-linha{
  width: 33.33%;
  margin-top: 10px;
}

.flex-section-divisao{
  margin-top: 79px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.flex-section-divisao2{
  display: flex;
  flex-direction: row;
}

.flex-section-divisao-down{
  display: flex;
  flex-direction: row;
}



/*==================================================================================================
                                   --      M O B I L E      --
====================================================================================================*/
@media only screen and (max-width: 768px) {

div{
  border: red;
}

/*--------Altera o flex para divs ficarem abaixo ao invés do lado.*/
.flex-section{
  flex-direction: column;
  margin-left: 3.8%;
  
}

/*--------Header------------------*/
.titulo-div {
  padding: 69px 10px;
  text-align: justify;
}


.titulo-h4 {
    width: 84.5%;
}

.titulo-h1 {
  width: 84.5%;
}

.list {
  margin-left: 9.04%;
  margin-right: 9.76%;
}

.flex-section-list {
  flex-direction: column;
}

.flex-section-divisao-down {
  margin-top: 28px;
}

/*-------Formulário e texto topo-- */
.sub-titulo p {
  padding: 0px 18px 0px 0px;
  margin-bottom: 30px;
}

.form-div {
  float: none;
  width: 95.72%; /* 100% - 4.28% da borda */
}


.form-button1 {
  float: none;
  width: 95.72%; /* 100% - 4.28% da borda */
}
/*-------Vitrine-------------------*/
.products {
  flex-direction: column;
}

.products-item {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}


/*-------Botões Regulagem----------*/
.send-now-button {
  margin: 23.86% 19.04% 53.97%;
  width: 61.9%;
} 

.more-prod-button {
  margin: 23.98% 19.04% 58.37%;
  width: 61.9%;
}

/*-------divisórias--------------*/
.divisao-h2 {
  width: 100%;
}

.flex-section-divisao2{
  display: flex;
  flex-direction: column;
  margin-left: 2.14%;
  margin-right: 4.76%;
}
.sec-1 {
  margin-left: 0;
}

.sec-1a {
  margin-right: 0; 
  width: auto;
  height: auto;
}

.form-div-input {
  width: 100%;
}

/*-------Rodapé------------------*/
.custom-footer-div {
  margin-top: 50%;
}
}



